<footer>
  <p class="pull-left">Powered by：<a href="tencent://message/?uin=885727006&Site=gxlinzi.cn35so.cn&Menu=yes" target="_blank">暗夜ぁ大豆芽</a></p>
  <p class="pull-left">Copy by：&copy; <a  href="http://dx.pc6.com/lei/liuxing9.07.zip" target="_blank">流星蝴蝶剑</a> 2010-2014</p>
  <p class="pull-right">技术网站：
    <a href="http://api.rubyonrails.org/">Ruby官方指导</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://rubygems.org/">Ruby-Gems</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="http://ruby-china.org/lonely21475">Ruby中国社区</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="http://xiemin.me/bootstrap-2.3.0/index.html">BootStrap</a>
  </p>
</footer>