<!DOCTYPE html>
<html>
<head>
  <title>Meteor Butterfly With Blade</title>
  <%= render :partial=> 'share/stylesheets' %>
  <%= render :partial=> 'share/javascripts' %>
  <link rel="shortcut icon" href="/img/lol/MM.png">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
