<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/img/lol/douya.png">

    <title><%= yield(:title) %>  ❤  大豆芽</title>
    <link href="/victoria/bootstrap.css" rel="stylesheet">
    <link href="/victoria/main.css" rel="stylesheet">
    <link href="/victoria/font-awesome.min.css" rel="stylesheet">
    <%= render :partial=> 'share/javascripts' %>
</head>

<body>
 <%= yield %>
</body>
</html>